USE [aisinoKp]
GO
/****** Object:  Table [dbo].[SYROLE]    Script Date: 09/28/2017 10:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SYROLE](
	[ID] [varchar](50) NOT NULL,
	[CREATEDATETIME] [datetime] NULL,
	[DESCRIPTION] [varchar](200) NULL,
	[ICONCLS] [varchar](100) NULL,
	[NAME] [varchar](100) NOT NULL,
	[SEQ] [numeric](10, 0) NULL,
	[UPDATEDATETIME] [datetime] NULL,
	[PIC] [varchar](50) NULL,
	[MANAGE_ACTIVE] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[SYROLE] ([ID], [CREATEDATETIME], [DESCRIPTION], [ICONCLS], [NAME], [SEQ], [UPDATEDATETIME], [PIC], [MANAGE_ACTIVE]) VALUES (N'0', CAST(0x0000A6E2009A47B4 AS DateTime), N'拥有系统所有权限', NULL, N'超管', CAST(0 AS Numeric(10, 0)), CAST(0x0000A6E200A18EFC AS DateTime), N'0', N'1')
INSERT [dbo].[SYROLE] ([ID], [CREATEDATETIME], [DESCRIPTION], [ICONCLS], [NAME], [SEQ], [UPDATEDATETIME], [PIC], [MANAGE_ACTIVE]) VALUES (N'8f5bdf61-8126-49d1-b7e0-3cad392e3095', CAST(0x0000A7FC00A60A0C AS DateTime), N'纸票+电子发票', NULL, N'组件开票开发', CAST(100 AS Numeric(10, 0)), CAST(0x0000A7FC00A60A0C AS DateTime), NULL, N'1')
/****** Object:  Table [dbo].[SYRESOURCETYPE]    Script Date: 09/28/2017 10:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SYRESOURCETYPE](
	[ID] [varchar](50) NOT NULL,
	[CREATEDATETIME] [datetime] NULL,
	[DESCRIPTION] [varchar](200) NULL,
	[NAME] [varchar](100) NOT NULL,
	[UPDATEDATETIME] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[SYRESOURCETYPE] ([ID], [CREATEDATETIME], [DESCRIPTION], [NAME], [UPDATEDATETIME]) VALUES (N'0', CAST(0x0000A6E2009A4688 AS DateTime), N'菜单类型会显示在系统首页左侧菜单中', N'菜单', CAST(0x0000A6E2009A4688 AS DateTime))
INSERT [dbo].[SYRESOURCETYPE] ([ID], [CREATEDATETIME], [DESCRIPTION], [NAME], [UPDATEDATETIME]) VALUES (N'1', CAST(0x0000A6E2009A4688 AS DateTime), N'功能类型不会显示在系统首页左侧菜单中', N'功能', CAST(0x0000A6E2009A4688 AS DateTime))
/****** Object:  Table [dbo].[SYRESOURCE]    Script Date: 09/28/2017 10:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SYRESOURCE](
	[ID] [varchar](50) NOT NULL,
	[CREATEDATETIME] [datetime] NULL,
	[DESCRIPTION] [varchar](200) NULL,
	[ICONCLS] [varchar](100) NULL,
	[NAME] [varchar](100) NOT NULL,
	[SEQ] [numeric](10, 0) NULL,
	[TARGET] [varchar](100) NULL,
	[UPDATEDATETIME] [datetime] NULL,
	[URL] [varchar](200) NULL,
	[SYRESOURCE_ID] [varchar](50) NULL,
	[SYRESOURCETYPE_ID] [varchar](50) NULL,
	[PAGEID] [varchar](50) NULL,
	[MANAGE_ACTIVE] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[SYRESOURCE] ([ID], [CREATEDATETIME], [DESCRIPTION], [ICONCLS], [NAME], [SEQ], [TARGET], [UPDATEDATETIME], [URL], [SYRESOURCE_ID], [SYRESOURCETYPE_ID], [PAGEID], [MANAGE_ACTIVE]) VALUES (N'02859880-9905-4d85-b173-1791b311d3ff', CAST(0x0000A5CF00B5A52C AS DateTime), NULL, N'ext-icon-bullet_wrench', N'发邮件', CAST(100 AS Numeric(10, 0)), NULL, CAST(0x0000A6C4010404D8 AS DateTime), N'/base/syuser!sendEmail', N'c4170d90-11ed-4cc8-9507-64fa227d36ab', N'1', NULL, N'1')
INSERT [dbo].[SYRESOURCE] ([ID], [CREATEDATETIME], [DESCRIPTION], [ICONCLS], [NAME], [SEQ], [TARGET], [UPDATEDATETIME], [URL], [SYRESOURCE_ID], [SYRESOURCETYPE_ID], [PAGEID], [MANAGE_ACTIVE]) VALUES (N'08fe7fe4-1b09-4c80-8650-260b5068e605', CAST(0x0000A6A500F3DD4C AS DateTime), NULL, N'ext-icon-database_table', N'订单列表', CAST(103 AS Numeric(10, 0)), NULL, CAST(0x0000A7D200F46083 AS DateTime), N'/securityJsp/base/zjjk/OrderList.jsp', N'f5142ac1-28cb-43ed-ae05-ecf6370acea8', N'0', NULL, N'1')
INSERT [dbo].[SYRESOURCE] ([ID], [CREATEDATETIME], [DESCRIPTION], [ICONCLS], [NAME], [SEQ], [TARGET], [UPDATEDATETIME], [URL], [SYRESOURCE_ID], [SYRESOURCETYPE_ID], [PAGEID], [MANAGE_ACTIVE]) VALUES (N'09494b1b-a0fc-42e4-bcbd-7ec41b0529c0', CAST(0x0000A66800A95858 AS DateTime), NULL, N'ext-icon-bullet_wrench', N'重置密码', CAST(88 AS Numeric(10, 0)), NULL, CAST(0x0000A66800A95858 AS DateTime), N'/base/syuser!resetPwd', N'yhgl', N'1', NULL, N'1')
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[SYORGANIZATION_SYRESOURCE]    Script Date: 09/28/2017 10:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SYORGANIZATION_SYRESOURCE](
	[SYRESOURCE_ID] [varchar](50) NOT NULL,
	[SYORGANIZATION_ID] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SYORGANIZATION_ID] ASC,
	[SYRESOURCE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SYORGANIZATION]    Script Date: 09/28/2017 10:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SYORGANIZATION](
	[ID] [varchar](50) NOT NULL,
	[ADDRESS] [varchar](200) NULL,
	[CODE] [varchar](200) NULL,
	[CREATEDATETIME] [datetime] NULL,
	[ICONCLS] [varchar](100) NULL,
	[NAME] [varchar](200) NULL,
	[SEQ] [numeric](10, 0) NULL,
	[UPDATEDATETIME] [datetime] NULL,
	[SYORGANIZATION_ID] [varchar](50) NULL,
	[LEVELID] [numeric](1, 0) NULL,
	[TELPHONE] [varchar](50) NULL,
	[MOBILE] [varchar](50) NULL,
	[TAX_CODE] [varchar](50) NULL,
	[BANK_ACCOUNT] [varchar](50) NULL,
	[ORG_TYPE] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[SYORGANIZATION] ([ID], [ADDRESS], [CODE], [CREATEDATETIME], [ICONCLS], [NAME], [SEQ], [UPDATEDATETIME], [SYORGANIZATION_ID], [LEVELID], [TELPHONE], [MOBILE], [TAX_CODE], [BANK_ACCOUNT], [ORG_TYPE]) VALUES (N'1', N'四川省遂宁市射洪县紫云乡凉冒山村', NULL, CAST(0x0000A66800E5C194 AS DateTime), N'ext-icon-house', N'射洪风顺机动车检测有限公司', CAST(100 AS Numeric(10, 0)), CAST(0x0000A68700E26ECC AS DateTime), NULL, CAST(1 AS Numeric(1, 0)), N'0825-6638277', N'18080188300', N'915109223145861476', NULL, N'机动车检测')
/****** Object:  Table [dbo].[syorderline_orderdata]    Script Date: 09/28/2017 10:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[syorderline_orderdata](
	[OLID] [varchar](36) NULL,
	[ODID] [varchar](36) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[syorderhead_syorderline]    Script Date: 09/28/2017 10:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[syorderhead_syorderline](
	[OLID] [varchar](36) NULL,
	[ODID] [varchar](36) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SYONLINE]    Script Date: 09/28/2017 10:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SYONLINE](
	[ID] [varchar](50) NOT NULL,
	[CREATEDATETIME] [datetime] NULL,
	[IP] [varchar](100) NULL,
	[LOGINNAME] [varchar](100) NULL,
	[TYPE] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[SYONLINE] ([ID], [CREATEDATETIME], [IP], [LOGINNAME], [TYPE]) VALUES (N'003c5126-5fc4-43a2-b69f-28538071ee02', CAST(0x0000A68700B9A690 AS DateTime), N'117.172.188.63', N'shfs002', N'1')
INSERT [dbo].[SYONLINE] ([ID], [CREATEDATETIME], [IP], [LOGINNAME], [TYPE]) VALUES (N'004cd372-a18b-44ee-a677-9fd4b616d78d', CAST(0x0000A73600DF9B0D AS DateTime), N'127.0.0.1', N'ZY001', N'1')
INSERT [dbo].[SYONLINE] ([ID], [CREATEDATETIME], [IP], [LOGINNAME], [TYPE]) VALUES (N'008a5a63-6454-4e06-a622-5fa55a090734', CAST(0x0000A68700C566C4 AS DateTime), N'117.172.188.63', N'shfs003', N'0')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
/****** Object:  Table [dbo].[SYEMPDATA]    Script Date: 09/28/2017 10:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SYEMPDATA](
	[EMPID] [varchar](50) NOT NULL,
	[NAME] [varchar](50) NULL,
	[SEX] [numeric](1, 0) NULL,
	[BIRTHDAY] [datetime] NULL,
	[HIGHT] [varchar](50) NULL,
	[BLOOD] [varchar](50) NULL,
	[MOBILE] [varchar](50) NULL,
	[HOME] [varchar](100) NULL,
	[INDATE] [datetime] NULL,
	[ADDRESS] [varchar](200) NULL,
	[PHONE] [varchar](50) NULL,
	[DPID] [varchar](50) NULL,
	[POLITICAL] [numeric](1, 0) NULL,
	[LEADERID] [varchar](50) NULL,
	[ORGID] [varchar](50) NULL,
	[POSID] [varchar](50) NULL,
	[IS_LEAVE] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SQLCONDITION]    Script Date: 09/28/2017 10:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SQLCONDITION](
	[id] [varchar](50) NOT NULL,
	[cncondition] [varchar](50) NULL,
	[encondition] [varchar](50) NULL,
	[conditiontype] [varchar](50) NULL,
	[pageid] [varchar](50) NULL,
	[seq] [numeric](10, 0) NULL,
	[conditionsql] [ntext] NULL,
	[default_value] [varchar](100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SerialNo]    Script Date: 09/28/2017 10:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SerialNo](
	[sCode] [varchar](50) NOT NULL,
	[sName] [varchar](100) NULL,
	[sQZ] [varchar](50) NULL,
	[sValue] [varchar](80) NULL,
PRIMARY KEY CLUSTERED 
(
	[sCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[SerialNo] ([sCode], [sName], [sQZ], [sValue]) VALUES (N'BO', N'流水号', N'BO', N'1000000001')
/****** Object:  Table [dbo].[PAGECODE_SQL_WARN]    Script Date: 09/28/2017 10:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PAGECODE_SQL_WARN](
	[id] [varchar](50) NOT NULL,
	[pagecodeid] [varchar](50) NULL,
	[gt_sql] [ntext] NULL,
	[lt_sql] [ntext] NULL,
	[color] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PAGECODE_SELF_WARN]    Script Date: 09/28/2017 10:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PAGECODE_SELF_WARN](
	[ID] [varchar](50) NOT NULL,
	[PAGECODEID] [varchar](50) NULL,
	[GT] [numeric](18, 0) NULL,
	[LT] [numeric](18, 0) NULL,
	[COLOR] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PAGECODE_AVG_WARN]    Script Date: 09/28/2017 10:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PAGECODE_AVG_WARN](
	[ID] [varchar](50) NOT NULL,
	[PAGECODEID] [varchar](50) NULL,
	[CNENGLISH_EXC] [varchar](50) NULL,
	[CNENGLISH_STR] [varchar](500) NULL,
	[COLOR] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PAGECODE]    Script Date: 09/28/2017 10:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PAGECODE](
	[ID] [varchar](50) NOT NULL,
	[PAGEID] [varchar](50) NULL,
	[CODENAME] [varchar](50) NULL,
	[CNNAME] [varchar](50) NULL,
	[CNENGLISH] [varchar](200) NULL,
	[ORDERID] [numeric](3, 0) NULL,
	[URL] [varchar](500) NULL,
	[WIDTH] [numeric](5, 0) NULL,
	[IS_HIGHCHARTS] [numeric](1, 0) NULL,
	[ROW_NUM] [numeric](5, 0) NULL,
	[COL_NUM] [numeric](5, 0) NULL,
	[ROWSPAN] [numeric](5, 0) NULL,
	[COLSPAN] [numeric](5, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[PAGECODE] ([ID], [PAGEID], [CODENAME], [CNNAME], [CNENGLISH], [ORDERID], [URL], [WIDTH], [IS_HIGHCHARTS], [ROW_NUM], [COL_NUM], [ROWSPAN], [COLSPAN]) VALUES (N'2b1019bc-37f5-4708-8683-71f92bc78c4a', N'd471d892-5806-4f30-9902-c7e2844470ad', NULL, N'总库存量', N'ALLNOUSE', CAST(1 AS Numeric(3, 0)), NULL, CAST(120 AS Numeric(5, 0)), CAST(0 AS Numeric(1, 0)), CAST(0 AS Numeric(5, 0)), CAST(1 AS Numeric(5, 0)), CAST(1 AS Numeric(5, 0)), CAST(1 AS Numeric(5, 0)))
INSERT [dbo].[PAGECODE] ([ID], [PAGEID], [CODENAME], [CNNAME], [CNENGLISH], [ORDERID], [URL], [WIDTH], [IS_HIGHCHARTS], [ROW_NUM], [COL_NUM], [ROWSPAN], [COLSPAN]) VALUES (N'31bce086-dca7-4526-8f7a-c9921d8cd4d4', N'd471d892-5806-4f30-9902-c7e2844470ad', NULL, N'昨日库存量', N'ZYNOUSER', CAST(2 AS Numeric(3, 0)), NULL, CAST(120 AS Numeric(5, 0)), CAST(0 AS Numeric(1, 0)), CAST(0 AS Numeric(5, 0)), CAST(2 AS Numeric(5, 0)), CAST(1 AS Numeric(5, 0)), CAST(1 AS Numeric(5, 0)))
INSERT [dbo].[PAGECODE] ([ID], [PAGEID], [CODENAME], [CNNAME], [CNENGLISH], [ORDERID], [URL], [WIDTH], [IS_HIGHCHARTS], [ROW_NUM], [COL_NUM], [ROWSPAN], [COLSPAN]) VALUES (N'3b15cb3f-c552-46a7-9a57-d9aa04aed68f', N'4a41df71-49a6-4769-acf5-da5e8d9461dc', NULL, N'发票日期', N'INVOICE_DATE', CAST(1 AS Numeric(3, 0)), NULL, CAST(120 AS Numeric(5, 0)), CAST(0 AS Numeric(1, 0)), CAST(0 AS Numeric(5, 0)), CAST(1 AS Numeric(5, 0)), CAST(1 AS Numeric(5, 0)), CAST(1 AS Numeric(5, 0)))
/****** Object:  Table [dbo].[PAGE]    Script Date: 09/28/2017 10:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PAGE](
	[id] [int] NOT NULL,
	[pageinformation] [varchar](4000) NULL,
	[pagename] [varchar](200) NULL,
	[sqlcode] [ntext] NULL,
	[db] [varchar](50) NULL,
	[highcharts_btn] [numeric](1, 0) NULL,
	[unit] [varchar](50) NULL,
	[sort_order] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SYUSER]    Script Date: 09/28/2017 10:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SYUSER](
	[ID] [varchar](50) NOT NULL,
	[AGE] [numeric](10, 0) NULL,
	[CREATEDATETIME] [datetime] NULL,
	[LOGINNAME] [nvarchar](100) NOT NULL,
	[NAME] [nvarchar](100) NULL,
	[PHOTO] [nvarchar](200) NULL,
	[PWD] [nvarchar](100) NULL,
	[SEX] [nvarchar](1) NULL,
	[UPDATEDATETIME] [datetime] NULL,
	[EMAIL] [nvarchar](40) NULL,
	[USEREMPID] [nvarchar](40) NULL,
	[USERORGID] [nvarchar](40) NULL,
	[USERDPID] [nvarchar](40) NULL,
	[ORGCODE] [nvarchar](10) NULL,
	[IS_LEAVE] [nvarchar](1) NULL,
	[MAIN_ROLE] [nvarchar](36) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[SYUSER] ([ID], [AGE], [CREATEDATETIME], [LOGINNAME], [NAME], [PHOTO], [PWD], [SEX], [UPDATEDATETIME], [EMAIL], [USEREMPID], [USERORGID], [USERDPID], [ORGCODE], [IS_LEAVE], [MAIN_ROLE]) VALUES (N'0', NULL, CAST(0x0000A6E2009A48E0 AS DateTime), N'admin', N'管理员', NULL, N'4297f44b13955235245b2497399d7a93', N'1', CAST(0x0000A66800000000 AS DateTime), N'442876771@qq.com', N'51010001', N'0901', N'090101', N'349', N'0', NULL)
INSERT [dbo].[SYUSER] ([ID], [AGE], [CREATEDATETIME], [LOGINNAME], [NAME], [PHOTO], [PWD], [SEX], [UPDATEDATETIME], [EMAIL], [USEREMPID], [USERORGID], [USERDPID], [ORGCODE], [IS_LEAVE], [MAIN_ROLE]) VALUES (N'6e1b4ffb-f5a5-4cbc-bab8-343250968a78', NULL, CAST(0x0000A7FB00000000 AS DateTime), N'kf001', N'开发', NULL, N'4297f44b13955235245b2497399d7a93', N'1', CAST(0x0000A7FC00000000 AS DateTime), NULL, NULL, NULL, NULL, NULL, N'0', NULL)
/****** Object:  Table [dbo].[t_syorderline]    Script Date: 09/28/2017 10:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_syorderline](
	[OLID] [varchar](36) NOT NULL,
	[CREATETIME] [datetime] NOT NULL,
	[FPZL] [char](2) NOT NULL,
	[GFHM] [varchar](36) NOT NULL,
	[GFMC] [varchar](256) NOT NULL,
	[GFSH] [varchar](36) NULL,
	[GFYHZH] [varchar](256) NULL,
	[GFDZDH] [varchar](512) NULL,
	[BZ] [varchar](512) NULL,
	[SKR] [varchar](36) NULL,
	[FHR] [varchar](36) NULL,
	[SPXH] [int] NULL,
	[SPHM] [varchar](36) NOT NULL,
	[SPMC] [varchar](256) NOT NULL,
	[GGXH] [varchar](36) NULL,
	[DW] [varchar](36) NULL,
	[SL] [decimal](15, 2) NULL,
	[DJ] [decimal](30, 16) NULL,
	[JE] [decimal](30, 16) NULL,
	[HSBZ] [char](2) NOT NULL,
	[SLV] [decimal](4, 2) NOT NULL,
	[SSFLBM] [varchar](36) NULL,
PRIMARY KEY CLUSTERED 
(
	[OLID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_syorderhead]    Script Date: 09/28/2017 10:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_syorderhead](
	[OHID] [varchar](36) NOT NULL,
	[CREATETIME] [datetime] NOT NULL,
	[FPZL] [char](2) NOT NULL,
	[GFHM] [varchar](36) NOT NULL,
	[GFMC] [varchar](256) NOT NULL,
	[GFSH] [varchar](36) NULL,
	[GFYHZH] [varchar](256) NULL,
	[GFDZDH] [varchar](512) NULL,
	[BZ] [varchar](512) NULL,
	[SKR] [varchar](36) NULL,
	[FHR] [varchar](36) NULL,
	[TOTAL] [decimal](30, 16) NULL,
	[HSBZ] [char](2) NOT NULL,
	[MIX] [varchar](2) NOT NULL,
	[IS_KP] [varchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OHID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_orderdata]    Script Date: 09/28/2017 10:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_orderdata](
	[ODID] [varchar](36) NOT NULL,
	[DJHM] [varchar](36) NULL,
	[CREATETIME] [datetime] NOT NULL,
	[FPZL] [char](2) NOT NULL,
	[GFHM] [varchar](36) NOT NULL,
	[GFMC] [varchar](256) NOT NULL,
	[GFSH] [varchar](36) NULL,
	[GFYHZH] [varchar](256) NULL,
	[GFDZDH] [varchar](512) NULL,
	[BZ] [varchar](512) NULL,
	[SKR] [varchar](36) NULL,
	[FHR] [varchar](36) NULL,
	[SPXH] [int] NULL,
	[SPHM] [varchar](36) NOT NULL,
	[SPMC] [varchar](256) NOT NULL,
	[GGXH] [varchar](36) NULL,
	[DW] [varchar](36) NULL,
	[SL] [decimal](15, 2) NULL,
	[DJ] [decimal](30, 16) NULL,
	[JE] [decimal](30, 16) NULL,
	[HSBZ] [char](2) NOT NULL,
	[SLV] [decimal](4, 2) NOT NULL,
	[SSFLBM] [varchar](36) NULL,
	[MOBILE] [varchar](36) NULL,
	[EMAIL] [varchar](128) NULL,
PRIMARY KEY CLUSTERED 
(
	[ODID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_invoicedata]    Script Date: 09/28/2017 10:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_invoicedata](
	[IHID] [varchar](36) NOT NULL,
	[OHID] [varchar](36) NULL,
	[CREATETIME] [datetime] NOT NULL,
	[FPZL] [char](2) NOT NULL,
	[KPR] [varchar](36) NULL,
	[XFMC] [varchar](256) NOT NULL,
	[XFSH] [varchar](36) NULL,
	[XFYHZH] [varchar](256) NULL,
	[XFDZDH] [varchar](512) NULL,
	[FPDM] [varchar](36) NULL,
	[FPHM] [varchar](36) NULL,
	[AMOUNT] [decimal](30, 16) NULL,
	[TAX_AMOUNT] [decimal](30, 16) NULL,
	[TOTAL] [decimal](30, 16) NULL,
	[HAS_QD] [char](2) NOT NULL,
	[IS_ZF] [char](2) NOT NULL,
	[OLD_FPDM] [varchar](36) NULL,
	[OLD_FPHM] [varchar](36) NULL,
	[ZF_DATE] [datetime] NULL,
	[IS_RED] [varchar](2) NOT NULL,
	[RED_FPDM] [varchar](36) NULL,
	[RED_FPHM] [varchar](36) NULL,
	[RED_DATE] [datetime] NULL,
	[IS_PRINT] [varchar](2) NOT NULL,
	[IS_DOWNLOAD] [varchar](2) NOT NULL,
	[IS_QZ] [varchar](2) NOT NULL,
	[PDFDATA] [varchar](4000) NULL,
	[PDF_FILE] [varchar](4000) NULL,
	[IS_TS] [varchar](2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IHID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SYUSER_SYROLE]    Script Date: 09/28/2017 10:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SYUSER_SYROLE](
	[SYUSER_ID] [varchar](50) NOT NULL,
	[SYROLE_ID] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SYROLE_ID] ASC,
	[SYUSER_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[SYUSER_SYROLE] ([SYUSER_ID], [SYROLE_ID]) VALUES (N'0', N'0')
INSERT [dbo].[SYUSER_SYROLE] ([SYUSER_ID], [SYROLE_ID]) VALUES (N'0', N'8f5bdf61-8126-49d1-b7e0-3cad392e3095')
INSERT [dbo].[SYUSER_SYROLE] ([SYUSER_ID], [SYROLE_ID]) VALUES (N'6e1b4ffb-f5a5-4cbc-bab8-343250968a78', N'8f5bdf61-8126-49d1-b7e0-3cad392e3095')
/****** Object:  Table [dbo].[SYUSER_SYORGANIZATION]    Script Date: 09/28/2017 10:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SYUSER_SYORGANIZATION](
	[SYUSER_ID] [varchar](50) NOT NULL,
	[SYORGANIZATION_ID] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SYORGANIZATION_ID] ASC,
	[SYUSER_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SYROLE_SYRESOURCE]    Script Date: 09/28/2017 10:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SYROLE_SYRESOURCE](
	[SYROLE_ID] [varchar](50) NOT NULL,
	[SYRESOURCE_ID] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SYRESOURCE_ID] ASC,
	[SYROLE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[SYROLE_SYRESOURCE] ([SYROLE_ID], [SYRESOURCE_ID]) VALUES (N'0', N'02859880-9905-4d85-b173-1791b311d3ff')
INSERT [dbo].[SYROLE_SYRESOURCE] ([SYROLE_ID], [SYRESOURCE_ID]) VALUES (N'0', N'08fe7fe4-1b09-4c80-8650-260b5068e605')
INSERT [dbo].[SYROLE_SYRESOURCE] ([SYROLE_ID], [SYRESOURCE_ID]) VALUES (N'0', N'09494b1b-a0fc-42e4-bcbd-7ec41b0529c0')
GO
print 'Processed 100 total records'
/****** Object:  Default [DF__SYEMPDATA__IS_LE__47DBAE45]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[SYEMPDATA] ADD  DEFAULT ((0)) FOR [IS_LEAVE]
GO
/****** Object:  Default [DF__syorderhea__OLID__48CFD27E]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[syorderhead_syorderline] ADD  DEFAULT (NULL) FOR [OLID]
GO
/****** Object:  Default [DF__syorderhea__ODID__49C3F6B7]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[syorderhead_syorderline] ADD  DEFAULT (NULL) FOR [ODID]
GO
/****** Object:  Default [DF__syorderlin__OLID__4AB81AF0]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[syorderline_orderdata] ADD  DEFAULT (NULL) FOR [OLID]
GO
/****** Object:  Default [DF__syorderlin__ODID__4BAC3F29]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[syorderline_orderdata] ADD  DEFAULT (NULL) FOR [ODID]
GO
/****** Object:  Default [DF__t_invoiced__OHID__4CA06362]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_invoicedata] ADD  DEFAULT (NULL) FOR [OHID]
GO
/****** Object:  Default [DF__t_invoice__CREAT__2DE6D218]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_invoicedata] ADD  CONSTRAINT [DF__t_invoice__CREAT__2DE6D218]  DEFAULT (getdate()) FOR [CREATETIME]
GO
/****** Object:  Default [DF__t_invoiced__FPZL__4E88ABD4]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_invoicedata] ADD  DEFAULT ('0') FOR [FPZL]
GO
/****** Object:  Default [DF__t_invoiceda__KPR__4F7CD00D]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_invoicedata] ADD  DEFAULT (NULL) FOR [KPR]
GO
/****** Object:  Default [DF__t_invoiced__XFSH__5070F446]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_invoicedata] ADD  DEFAULT (NULL) FOR [XFSH]
GO
/****** Object:  Default [DF__t_invoice__XFYHZ__5165187F]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_invoicedata] ADD  DEFAULT (NULL) FOR [XFYHZH]
GO
/****** Object:  Default [DF__t_invoice__XFDZD__52593CB8]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_invoicedata] ADD  DEFAULT (NULL) FOR [XFDZDH]
GO
/****** Object:  Default [DF__t_invoiced__FPDM__534D60F1]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_invoicedata] ADD  DEFAULT (NULL) FOR [FPDM]
GO
/****** Object:  Default [DF__t_invoiced__FPHM__5441852A]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_invoicedata] ADD  DEFAULT (NULL) FOR [FPHM]
GO
/****** Object:  Default [DF__t_invoice__AMOUN__5535A963]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_invoicedata] ADD  DEFAULT (NULL) FOR [AMOUNT]
GO
/****** Object:  Default [DF__t_invoice__TAX_A__5629CD9C]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_invoicedata] ADD  DEFAULT (NULL) FOR [TAX_AMOUNT]
GO
/****** Object:  Default [DF__t_invoice__TOTAL__571DF1D5]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_invoicedata] ADD  DEFAULT (NULL) FOR [TOTAL]
GO
/****** Object:  Default [DF__t_invoice__HAS_Q__5812160E]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_invoicedata] ADD  DEFAULT ('0') FOR [HAS_QD]
GO
/****** Object:  Default [DF__t_invoice__IS_ZF__59063A47]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_invoicedata] ADD  DEFAULT ('0') FOR [IS_ZF]
GO
/****** Object:  Default [DF__t_invoice__OLD_F__59FA5E80]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_invoicedata] ADD  DEFAULT ('') FOR [OLD_FPDM]
GO
/****** Object:  Default [DF__t_invoice__OLD_F__5AEE82B9]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_invoicedata] ADD  DEFAULT (NULL) FOR [OLD_FPHM]
GO
/****** Object:  Default [DF__t_invoice__ZF_DA__5BE2A6F2]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_invoicedata] ADD  DEFAULT (NULL) FOR [ZF_DATE]
GO
/****** Object:  Default [DF__t_invoice__IS_RE__5CD6CB2B]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_invoicedata] ADD  DEFAULT ('0') FOR [IS_RED]
GO
/****** Object:  Default [DF__t_invoice__RED_F__5DCAEF64]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_invoicedata] ADD  DEFAULT (NULL) FOR [RED_FPDM]
GO
/****** Object:  Default [DF__t_invoice__RED_F__5EBF139D]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_invoicedata] ADD  DEFAULT (NULL) FOR [RED_FPHM]
GO
/****** Object:  Default [DF__t_invoice__RED_D__5FB337D6]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_invoicedata] ADD  DEFAULT (NULL) FOR [RED_DATE]
GO
/****** Object:  Default [DF__t_invoice__IS_PR__60A75C0F]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_invoicedata] ADD  DEFAULT ('0') FOR [IS_PRINT]
GO
/****** Object:  Default [DF__t_invoice__IS_DO__619B8048]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_invoicedata] ADD  DEFAULT ('0') FOR [IS_DOWNLOAD]
GO
/****** Object:  Default [DF__t_invoice__IS_QZ__628FA481]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_invoicedata] ADD  DEFAULT ('0') FOR [IS_QZ]
GO
/****** Object:  Default [DF__t_invoice__PDFDA__6383C8BA]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_invoicedata] ADD  DEFAULT (NULL) FOR [PDFDATA]
GO
/****** Object:  Default [DF__t_invoice__PDF_F__6477ECF3]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_invoicedata] ADD  DEFAULT (NULL) FOR [PDF_FILE]
GO
/****** Object:  Default [DF__t_invoice__IS_TS__656C112C]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_invoicedata] ADD  DEFAULT ('0') FOR [IS_TS]
GO
/****** Object:  Default [DF__t_orderdat__DJHM__66603565]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_orderdata] ADD  DEFAULT (NULL) FOR [DJHM]
GO
/****** Object:  Default [DF__t_orderda__CREAT__73BA3083]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_orderdata] ADD  CONSTRAINT [DF__t_orderda__CREAT__73BA3083]  DEFAULT (getdate()) FOR [CREATETIME]
GO
/****** Object:  Default [DF__t_orderdat__FPZL__68487DD7]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_orderdata] ADD  DEFAULT ('0') FOR [FPZL]
GO
/****** Object:  Default [DF__t_orderdat__GFSH__693CA210]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_orderdata] ADD  DEFAULT (NULL) FOR [GFSH]
GO
/****** Object:  Default [DF__t_orderda__GFYHZ__6A30C649]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_orderdata] ADD  DEFAULT (NULL) FOR [GFYHZH]
GO
/****** Object:  Default [DF__t_orderda__GFDZD__6B24EA82]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_orderdata] ADD  DEFAULT (NULL) FOR [GFDZDH]
GO
/****** Object:  Default [DF__t_orderdata__BZ__6C190EBB]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_orderdata] ADD  DEFAULT (NULL) FOR [BZ]
GO
/****** Object:  Default [DF__t_orderdata__SKR__6D0D32F4]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_orderdata] ADD  DEFAULT (NULL) FOR [SKR]
GO
/****** Object:  Default [DF__t_orderdata__FHR__6E01572D]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_orderdata] ADD  DEFAULT (NULL) FOR [FHR]
GO
/****** Object:  Default [DF__t_orderdat__SPXH__6EF57B66]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_orderdata] ADD  DEFAULT (NULL) FOR [SPXH]
GO
/****** Object:  Default [DF__t_orderdat__GGXH__6FE99F9F]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_orderdata] ADD  DEFAULT (NULL) FOR [GGXH]
GO
/****** Object:  Default [DF__t_orderdata__DW__70DDC3D8]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_orderdata] ADD  DEFAULT (NULL) FOR [DW]
GO
/****** Object:  Default [DF__t_orderdata__SL__71D1E811]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_orderdata] ADD  DEFAULT (NULL) FOR [SL]
GO
/****** Object:  Default [DF__t_orderdata__DJ__72C60C4A]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_orderdata] ADD  DEFAULT (NULL) FOR [DJ]
GO
/****** Object:  Default [DF__t_orderdata__JE__73BA3083]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_orderdata] ADD  DEFAULT (NULL) FOR [JE]
GO
/****** Object:  Default [DF__t_orderdat__HSBZ__74AE54BC]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_orderdata] ADD  DEFAULT ('1') FOR [HSBZ]
GO
/****** Object:  Default [DF__t_orderdata__SLV__75A278F5]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_orderdata] ADD  DEFAULT ('0.17') FOR [SLV]
GO
/****** Object:  Default [DF__t_orderda__SSFLB__76969D2E]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_orderdata] ADD  DEFAULT (NULL) FOR [SSFLBM]
GO
/****** Object:  Default [DF__t_orderda__MOBIL__778AC167]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_orderdata] ADD  DEFAULT (NULL) FOR [MOBILE]
GO
/****** Object:  Default [DF__t_orderda__EMAIL__787EE5A0]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_orderdata] ADD  DEFAULT (NULL) FOR [EMAIL]
GO
/****** Object:  Default [DF__t_syorder__CREAT__09A971A2]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_syorderhead] ADD  CONSTRAINT [DF__t_syorder__CREAT__09A971A2]  DEFAULT (getdate()) FOR [CREATETIME]
GO
/****** Object:  Default [DF__t_syorderh__FPZL__7A672E12]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_syorderhead] ADD  DEFAULT ('0') FOR [FPZL]
GO
/****** Object:  Default [DF__t_syorderh__GFSH__7B5B524B]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_syorderhead] ADD  DEFAULT (NULL) FOR [GFSH]
GO
/****** Object:  Default [DF__t_syorder__GFYHZ__7C4F7684]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_syorderhead] ADD  DEFAULT (NULL) FOR [GFYHZH]
GO
/****** Object:  Default [DF__t_syorder__GFDZD__7D439ABD]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_syorderhead] ADD  DEFAULT (NULL) FOR [GFDZDH]
GO
/****** Object:  Default [DF__t_syorderhea__BZ__7E37BEF6]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_syorderhead] ADD  DEFAULT (NULL) FOR [BZ]
GO
/****** Object:  Default [DF__t_syorderhe__SKR__7F2BE32F]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_syorderhead] ADD  DEFAULT (NULL) FOR [SKR]
GO
/****** Object:  Default [DF__t_syorderhe__FHR__00200768]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_syorderhead] ADD  DEFAULT (NULL) FOR [FHR]
GO
/****** Object:  Default [DF__t_syorder__TOTAL__01142BA1]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_syorderhead] ADD  DEFAULT (NULL) FOR [TOTAL]
GO
/****** Object:  Default [DF__t_syorderh__HSBZ__02084FDA]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_syorderhead] ADD  DEFAULT ('1') FOR [HSBZ]
GO
/****** Object:  Default [DF__t_syorderhe__MIX__02FC7413]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_syorderhead] ADD  DEFAULT ('0') FOR [MIX]
GO
/****** Object:  Default [DF__t_syorder__IS_KP__03F0984C]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_syorderhead] ADD  DEFAULT (NULL) FOR [IS_KP]
GO
/****** Object:  Default [DF__t_syorder__CREAT__18EBB532]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_syorderline] ADD  CONSTRAINT [DF__t_syorder__CREAT__18EBB532]  DEFAULT (getdate()) FOR [CREATETIME]
GO
/****** Object:  Default [DF__t_syorderl__FPZL__05D8E0BE]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_syorderline] ADD  DEFAULT ('0') FOR [FPZL]
GO
/****** Object:  Default [DF__t_syorderl__GFSH__06CD04F7]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_syorderline] ADD  DEFAULT (NULL) FOR [GFSH]
GO
/****** Object:  Default [DF__t_syorder__GFYHZ__07C12930]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_syorderline] ADD  DEFAULT (NULL) FOR [GFYHZH]
GO
/****** Object:  Default [DF__t_syorder__GFDZD__08B54D69]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_syorderline] ADD  DEFAULT (NULL) FOR [GFDZDH]
GO
/****** Object:  Default [DF__t_syorderlin__BZ__09A971A2]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_syorderline] ADD  DEFAULT (NULL) FOR [BZ]
GO
/****** Object:  Default [DF__t_syorderli__SKR__0A9D95DB]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_syorderline] ADD  DEFAULT (NULL) FOR [SKR]
GO
/****** Object:  Default [DF__t_syorderli__FHR__0B91BA14]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_syorderline] ADD  DEFAULT (NULL) FOR [FHR]
GO
/****** Object:  Default [DF__t_syorderl__SPXH__0C85DE4D]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_syorderline] ADD  DEFAULT (NULL) FOR [SPXH]
GO
/****** Object:  Default [DF__t_syorderl__GGXH__0D7A0286]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_syorderline] ADD  DEFAULT (NULL) FOR [GGXH]
GO
/****** Object:  Default [DF__t_syorderlin__DW__0E6E26BF]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_syorderline] ADD  DEFAULT (NULL) FOR [DW]
GO
/****** Object:  Default [DF__t_syorderlin__SL__0F624AF8]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_syorderline] ADD  DEFAULT (NULL) FOR [SL]
GO
/****** Object:  Default [DF__t_syorderlin__DJ__10566F31]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_syorderline] ADD  DEFAULT (NULL) FOR [DJ]
GO
/****** Object:  Default [DF__t_syorderlin__JE__114A936A]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_syorderline] ADD  DEFAULT (NULL) FOR [JE]
GO
/****** Object:  Default [DF__t_syorderl__HSBZ__123EB7A3]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_syorderline] ADD  DEFAULT ('1') FOR [HSBZ]
GO
/****** Object:  Default [DF__t_syorderli__SLV__1332DBDC]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_syorderline] ADD  DEFAULT ('0.17') FOR [SLV]
GO
/****** Object:  Default [DF__t_syorder__SSFLB__14270015]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[t_syorderline] ADD  DEFAULT (NULL) FOR [SSFLBM]
GO
/****** Object:  ForeignKey [FK__SYROLE_SY__SYRES__151B244E]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[SYROLE_SYRESOURCE]  WITH CHECK ADD FOREIGN KEY([SYRESOURCE_ID])
REFERENCES [dbo].[SYRESOURCE] ([ID])
GO
/****** Object:  ForeignKey [FK__SYUSER_SY__SYORG__17036CC0]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[SYUSER_SYORGANIZATION]  WITH CHECK ADD FOREIGN KEY([SYORGANIZATION_ID])
REFERENCES [dbo].[SYORGANIZATION] ([ID])
GO
/****** Object:  ForeignKey [FK__SYUSER_SY__SYUSE__17F790F9]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[SYUSER_SYORGANIZATION]  WITH CHECK ADD FOREIGN KEY([SYUSER_ID])
REFERENCES [dbo].[SYUSER] ([ID])
GO
/****** Object:  ForeignKey [FK__SYUSER_SY__SYUSE__19DFD96B]    Script Date: 09/28/2017 10:17:02 ******/
ALTER TABLE [dbo].[SYUSER_SYROLE]  WITH CHECK ADD FOREIGN KEY([SYUSER_ID])
REFERENCES [dbo].[SYUSER] ([ID])
GO
